%% -*- erlang -*-
{minmum_otp_vsn, "26.0"}.
{erl_opts, [debug_info]}.

{plugins, [pc]}.

{deps, []}.

{provider_hooks,
 [{pre,
   [{compile, {pc, compile}},
    {clean, {pc, clean}}]
  }]
}.

{port_specs, [{"priv/hsbox_nif.so", ["c_src/*.c"]}]}.

{xref_checks, [undefined_function_calls]}.

{dialyzer, [{plt_extra_apps, [public_key, common_test]}]}.

{alias, [{check, [dialyzer, xref, ct, cover]}]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
